.section.section--column.js-scroll
    h3!= "Vier <span>Vorteile</span>, die Ihnen viel wertvolle <span>Zeit</span> sparen."
    .section__wrap
        picture
            source(srcset="./img/img-column.webp" type="image/webp")
            img(src="./img/img-column.jpg", alt="")
        .box-center
            ul.column-list
                li.column-list__item
                    span 01
                    .column-list__title Kein Suchen nach Baustoffen
                li.column-list__item
                    span 02
                    .column-list__title Keine Zeit für Fahrten verschwenden
                li.column-list__item
                    span 03
                    .column-list__title Kein Transportfahrzeug nötig
                li.column-list__item
                    span 04
                    .column-list__title Keine komplizierten Bestellungen über Telefon, Mail oder Fax

