section.section.section--list.js-scroll
    .box-center
        ul.list
            li.list__item
                span 01
                h2 Suchen
                    span .
            li.list__item
                span 02
                h2 Bestellen
                    span .
            li.list__item
                span 03
                h2 Sofort Geliefert
                    span .