.section.section--grid
    .box-center
        h3.js-scroll!= "Bei Sofortbau unterstützen wir alle <span>Menschen</span>, <strong>die das <span>Ökosystem</span> der <span>Bauindustrie</span> ausmachen.<strong>"
        .grid-list.js-scroll
            .grid-list__item
                .grid-list__img
                    picture
                        source(srcset="./img/grid-img-1.webp" type="image/webp")
                        img(src="./img/grid-img-1.jpg", alt="")
                .grid-list__title
                    span Baugesellschaft


            .grid-list__item
                .grid-list__title
                    span Händler
                .grid-list__img
                    picture
                        source(srcset="./img/grid-img-3.webp" type="image/webp")
                        img(src="./img/grid-img-3.jpg", alt="")


            .grid-list__item
                .grid-list__img
                    picture
                        source(srcset="./img/grid-img-2.webp" type="image/webp")
                        img(src="./img/grid-img-2.jpg", alt="")
                .grid-list__title
                    span Handwerker