.section
    &--mailing
        padding 120px 0
        background-color #FED053

        @media(max-width 1400px)
            padding 8.571vw 0

        h2
            line-height 108px
            opacity 0
            transform translateY(30px)
            transition opacity 500ms ease

            @media(max-width 1400px)
                line-height 7.714vw

            @media(max-width 570px)
                line-height 11.8vw

            strong
                display block
                font-weight 700

            span
                color #fff

            em
                font-weight 700
                color #F4A202

        form
            margin-left auto
            width 100%

            @media(max-width 570px)
                width 100%

        .form__line
            margin-left auto
            padding 0 0 10px
            width 0
            display flex
            overflow hidden
            border-bottom 4px solid #fff
            transition width 500ms 1000ms ease

        .btn
            transition opacity 300ms 1800ms ease



    &__desc
        margin 45px 0 97px
        line-height 57px
        font-size 45px
        color #3A3E46
        opacity 0
        transform translateY(30px)
        transition opacity 500ms 500ms ease

        @media(max-width 1400px)
            margin 3.214vw 0 6.929vw
            line-height 4.071vw
            font-size 3.214vw

        @media(max-width 570px)
            margin 4vw 0 8vw
            line-height 6vw
            font-size 4vw

        span
            display block
