.section.section--mailing.js-scroll
    .box-center
        h2!="<strong>Sofortbau</strong> <span>is coming</span> <em>soon</em> <span>.</span>"

        .section__desc Leave your email address
            span to be the first to know.

        form(name="mailing", action="", method="POST")
            .form__line
                input(class="form__field", name="mail", type="text" placeholder="E-Mail-Adresse *")
                button(class="btn", type="submit") Absenden