@require './../includes/core/styl/reset'
@require './../includes/core/styl/core'

@require './../includes/modules/animation'

@require './../includes/modules/header/header'

@require './../includes/modules/sections/section-list/section-list'
@require './../includes/modules/sections/section-advantage/section-advantage'
@require './../includes/modules/sections/section-price/section-price'
@require './../includes/modules/sections/section-grid/section-grid'
@require './../includes/modules/sections/section-column/section-column'
@require './../includes/modules/sections/section-mailing/section-mailing'

@require './../includes/modules/footer/footer'