header.header.js-scroll
    picture
        source(srcset="./img/header-bg.webp" type="image/webp")
        img(src="./img/header-bg.jpg", alt="")
    .header__content
        .logo
            img(src="./img/logo.svg", alt="")
        .header__text 2h Expresslieferung von Baustoffen zur Baustelle.
            span Bald in Berlin.