.section.section--advantage.js-scroll
    .box-center
        h2 Just-In-Time.
            span Mit Sofortbau.

        .advantage__list
            .advantage__list-item
                .advantage__list-icn
                    img(src="./img/icn-basket.svg", alt="")
                .advantage__list-text
                    .advantage__list-title Bestellen & Bezahlen per App:
                    .advantage__list-desc Schnelle Suche, leichter Bezahlvorgang, Eingabe Lieferort Baustelle

            .advantage__list-item
                .advantage__list-icn
                    img(src="./img/icn-car.svg", alt="")
                .advantage__list-text
                    .advantage__list-title Lieferung von Baustoffen innerhalb von 2  Stdn. oder nach Termin
                    .advantage__list-desc Fahrer holt Baustoffe ab, bringt sie schnell zur Baustelle

            .advantage__list-item
                .advantage__list-icn
                    img(src="./img/icn-mail.svg", alt="")
                .advantage__list-text
                    .advantage__list-title Preise wie beim Fachhändler
                    .advantage__list-desc Zentrale Rechnungsbelege direkt digital

