.section.section--price.js-scroll
    picture
        source(srcset="./img/price-bg.webp" type="image/webp")
        img(src="./img/price-bg.jpg", alt="")
    .price
        .price__title Liefergebühr nur
            span 29 €
        .price__desc Mindestbestellmenge 100€
    .app-banner Die Nutzung der App
        span ist kostenlos.
